<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
  </head>
  <body>
    <h1><%= message %></h1>
    <h2>Status Code: <%= error.status || 500 %></h2>
    <pre><%= error.stack %></pre>
  </body>
</html>
